<% include partials/header %>
<body>
  <div>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" onclick = "displayImage()">Meal-Engine</a>
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Team <span  class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a href="https://avatars0.githubusercontent.com/u/16566442?s=460&v=4">Ashley</a></li>
              <li><a href="https://avatars0.githubusercontent.com/u/22802127?s=460&v=4">Stephanie</a></li>
              <li><a href="https://avatars0.githubusercontent.com/u/16006190?s=460&v=4">Lian</a></li>
            </ul>
                </li>

              </ul>
           </li>
         </ul>
       </div>
     </nav>
  </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h1>What should you eat today?</h1>
              <div id="test"><p>skdjkfjsd</p></div>
          </div>
        </div>
      </div>
    </div>

    <!-- add to its own button class  -->

    <div class="Recipe-Image-Button-Wrapper">
      <span name="imageForm">

        <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/160/facebook/65/fork-and-knife_1f374.png" onclick = "displayImage()" width= "50" value="Display Random Image" > </img>





      <h1>Add Recipe</h1>

      <% if(errors){  %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form method="POST" action="/users/add">
          <label>Recipe Name</label><br>
          <input type='text' name='recipe_name'>
          <br>
          <label>Link</label><br>
          <input type='text' name='link_name'>
          <br><br>
          <input type="submit" value="Submit">
      </form>

      <h1><%= title %></h1>
      <ul>
      <% users.forEach(function(user){ %>
        <li><%= user.recipe_name %>  - <a href=" <%= user.link_name %> " class="deleteUser" data-id=<%=user._id%>>Go to Recipe</a></li>
      <% }) %>
      </ul>

<% include partials/footer %>
