<% include partials/header %>
      <h1>Add Recipe</h1>
      <% if(errors){  %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form method="POST" action="/users/add">
          <label>Recipe Name</label><br>
          <input type='text' name='recipe_name'>
          <br>
          <label>Link</label><br>
          <input type='text' name='link_name'>
          <br><br>
          <input type="submit" value="Submit">
      </form>
      <h1><%= title %></h1>
      <ul>
      <% users.forEach(function(user){ %>
        <li><%= user.recipe_name %>  - <a href=" <%= user.link_name %> " class="deleteUser" data-id=<%=user._id%>>Go to Recipe</a></li>
      <% }) %>
      </ul>
<% include partials/footer %>
